<?xml version="1.0" ?>
<model>
    <name>kalman_laboratorio</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Andres Alamo</name>
        <email>andres.alamo@pucp.edu.pe</email>
    </author>
    <description>Laboratorio de robotica</description>
</model>
